.about {
  background-color: #ffffff;
  background-image: url("../img/bg-back-about.svg");
  background-repeat: no-repeat;
  background-position: 50% 15%;
}

.about__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 113px;
  padding-left: 25px;
  padding-right: 25px;
}

.about__content h2 {
  @include set-Roboto-Condensed();
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
  margin-bottom: 21px;
}

.about__content p {
  @include set-PT-Mono();
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 21px;
}

.about__link {
  border-color: #00b2ff;
  color: #00b2ff;
  padding: 14px 49px 13px 49px;
  margin-top: 17px;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #00b2ff;
  }
}

.about__content {
  padding-top: 45px;
  padding-left: 180px;
  padding-right: 2px;
  position: relative;
  margin-bottom: 111px;

  &::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 317px;
    background-image: url("../img/about-2005-desktop@1x.png");
    background-repeat: no-repeat;
    top: 80px;
    left: -30px;
  }
}

.about__content span {
  display: none;
}

.about__content span + span {
  display: inline;
}

@media (max-width: $tablet-width) {
  .about__container {
    padding-top: 54px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .about__content {
    padding-top: 26px;
    padding-left: 186px;
    margin-bottom: 83px;

    &::before {
      background-image: url("../img/about-2005-tablet@1x.png");
      height: 355px;
      top: 24px;
      left: -25px;
    }
  }

  .about__content h2 {
    font-size: 32px;
    line-height: 140.62%;
    margin: 0;
    margin-bottom: 26px;
  }

  .about__content p {
    margin-bottom: 19px;
    margin-left: 2px;
  }

  .about__link {
    margin-top: 23px;
    margin-left: 2px;
  }

  .about__content span + span {
    display: none;
  }

  .about__content span {
    display: inline;
  }

  .about {
    background-image: url("../img/bg-back-about-tablet.svg");
    background-position: 210px 90px;
  }
}

@media (max-width: $mobile-width) {
  .about__container {
    padding-right: 16px;
    padding-left: 14px;
    padding-top: 37px;
  }

  .about__content {
    padding-left: 2px;
    padding-top: 37px;
    padding-right: 0;


    &::before {
      content: none;
    }
  }

  .about__content h2 {
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 21px;
  }

  .about__content p {
    margin-left: 0;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .about__link {
    margin-top: -12px;
  }
}
