.btn-header {
  color: #ffffff;
  min-width: 181px;
  padding-top: 14px;
  padding-bottom: 12px;
  align-self: center;

  &:hover {
    cursor: pointer;
    background-color: #00b2ff;
  }
}

@media (max-width: $tablet-width) {
  .btn-header {
    display: none;
  }
}
