.contact-header {
  @include reset-ul();
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 50px;
}

.contact-header__link {
  @include set_PT-Mono();
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }
}

.contact-header__link svg {
  margin-right: 20px;
}

.contact-header__item {
  margin-left: 8px;
  width: 211px;
  margin-top: 17px;
}

@media (max-width: $tablet-width) {
  .contact-header__link span {
    display: none;
  }

  .contact-header {
    margin: 0;
    padding-top: 11px;
  }

  .contact-header__link--mail svg {
    width: 25.33px;
    height: 23.67px;
    display: block;
  }

  .contact-header__link--phone svg {
    width: 24px;
    height: 24px;
    display: block;
  }

  .contact-header__item {
    margin-top: 0;
    margin-left: 32px;
    width: auto;
    align-items: center;
  }

  .contact-header__link svg {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .contact-header__link--mail {
    &::before {
      top: -11px;
      left: 102px;
    }
  }

  .contact-header {
    padding-top: 5px;
  }

  .contact-header__item {
    margin-left: 21px;
  }
}
