.feedback {
  background-color: #00b2ff;
}

.feedback__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 91px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 111px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    background-image: url("../img/bg-feedback.svg");
    background-repeat: no-repeat;
    top: -59px;
    left: -176px;
  }
}

.feedback__form-content h3 {
  @include set-Roboto-Condensed();
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
}

.feedback__form-content p {
  @include set-PT-Mono();
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 50px;
}

.feedback__form-content {
  margin-left: auto;
  max-width: 573px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 511px auto;
    top: 15%;
    left: -108.5%;
  }
}

.no-webp .feedback__form-content {
  &::before {
    background-image: url("../img/airplane-desktop@1x.png");
  }
}

.webp .feedback__form-content {
  &::before {
    background-image: url("../img/airplane-desktop@1x.webp");
  }
}

.no-js .feedback__form-content {
  &::before {
    background-image: url("../img/airplane-desktop@1x.png");
  }
}


@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .no-webp .feedback__form-content {
    &::before {
      background-image: url("../img/airplane-desktop@2x.png");
      background-size: 511px;
    }
  }

  .no-js .feedback__form-content {
    &::before {
      background-image: url("../img/airplane-desktop@2x.png");
      background-size: 511px;
    }
  }

  .webp .feedback__form-content {
    &::before {
      background-image: url("../img/airplane-desktop@2x.webp");
      background-size: 511px;
    }
  }
}

.feedback input::placeholder {
  @include set-PT-Mono();
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.feedback input {
  width: calc(50% - 15px);
  margin-bottom: 40px;
}

@media (max-width: $tablet-width) {
  .feedback {
    background-image: none;
  }

  .feedback__form-content {
    max-width: none;

    &::before {
      content: none;
    }
  }

  .feedback__form-content h3 {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 17px;
  }

  .feedback__container {
    padding-top: 79px;
    padding-left: 88px;
    padding-right: 88px;
    padding-bottom: 102px;

    &::before {
      content: none;
    }
  }

  .feedback__form-content p {
    margin-bottom: 54px;
    margin-left: 3px;
  }

  .feedback input {
    width: calc(50% - 16px);
  }
}

@media (max-width: $mobile-width) {
  .feedback__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 42px;

    &::before {
      content: none;
    }
  }

  .feedback input {
    width: 100%;
    margin-bottom: 30px;
  }

  .feedback__form-content h3 {
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 12px;
  }

  .feedback__form-content p {
    margin-left: 0;
    margin-bottom: 27px;
  }
}
