.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include set-PT-Mono();
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
}

.form input,
.form textarea {
  background-color: #19baff;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 14px;
  color: #ffffff;
  outline: 0;

  &:hover {
    border: 1px solid #ffffff;
  }

  &:focus {
    border: 1px solid #ffffff;
  }
}

.form textarea::placeholder,
.form input::placeholder {
  @include set-PT-Mono();
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.form textarea {
  width: 100%;
  min-height: 154px;
  margin-bottom: 46px;
  padding-top: 12px;
}

.form__btn:hover {
  opacity: 0.6;
}

.form span:hover {
  cursor: pointer;
  opacity: 1;
}

.form__btn {
  color: #ffffff;
  padding: 13.5px 0;
  margin-left: 2px;
  margin-right: 70px;
  min-width: 270px;
}

.form-submit input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.form-submit input:checked + .form__custom-checkbox {
  background-image: url("../img/icon-yes.svg");
  background-size: 7.5px 4.5px;
  background-repeat: no-repeat;
  background-position: center;
}

.form__custom-checkbox {
  position: absolute;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  margin-top: 3px;
  margin-left: -30px;

  &:hover {
    border-color: rgba(255, 255, 255, 0.6);
  }
}

.form__label-conf {
  opacity: 0.8;
}

@media (max-width: $tablet-width) {
  .form input,
  .form textarea {
    padding-bottom: 17px;
  }

  .feedback input {
    padding: 12px 14px 16px 20px;
    min-height: 52px;
  }

  .feedback textarea {
    min-height: 162px;
    margin-bottom: 43px;
  }

  .form__btn {
    min-width: 280px;
    padding: 14px 0;
  }

  .form__custom-checkbox {
    width: 17px;
    margin-top: 1px;
    margin-left: -34px;
  }

  .feedback textarea {
    margin-bottom: 44px;
    min-height: 163px;
  }
}

@media (max-width: $mobile-width) {
  .form {
    flex-direction: column;
  }

  .feedback input {
    padding: 11px 14px 16px 17px;
    min-height: 52px;
  }

  .feedback textarea {
    padding: 11px 14px 16px 17px;
    min-height: 104px;
    margin-bottom: 31px;
  }

  .form__btn {
    min-width: 0;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 27px;
  }

  .form__custom-checkbox {
    margin-top: 1px;
    margin-left: -34px;
  }
}
