.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include set-PT-Mono();
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
}

.form input,
.form textarea {
  background-color: #19baff;
  box-sizing: border-box;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 14px;
  color: #ffffff;
}

.form textarea::placeholder,
.form input::placeholder {
  @include set-PT-Mono();
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.form textarea {
  width: 100%;
  min-height: 154px;
  margin-bottom: 46px;
  padding-top: 12px;
}

@media (max-width: $tablet-width) {
  .form input,
  .form textarea {
    padding-bottom: 17px;
  }

  .form input {
    padding: 13px 14px 16px 20px;
    min-height: 52px;
  }

  .form textarea {
    min-height: 162px;
    margin-bottom: 43px;
  }
}

@media (max-width: $mobile-width) {
  .form {
    flex-direction: column;
  }

  .form input {
    padding: 12px 14px 16px 17px;
    min-height: 52px;
  }

  .form textarea {
    padding: 12px 14px 16px 17px;
    min-height: 104px;
    margin-bottom: 30px;
  }
}
