.form-submit {
  display: flex;
  align-items: center;
}

.form-submit label {
  font-size: 14px;
  line-height: 16px;
  position: relative;
  opacity: 0.8;
}


@media (max-width: $tablet-width) {
  .form-submit label {
    margin-left: 4px;
    margin-top: 4px;
  }
}

@media (max-width: $mobile-width) {
  .form-submit {
    flex-direction: column;
  }

  .form-submit label {
    margin-left: 34px;
  }
}
