.logo {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.logo__link {
  display: flex;
}

.page-header svg:last-child {
  display: none;
}

@media (max-width: $mobile-width) {
  .page-header svg:last-child {
    display: block;
    padding-right: 15px;
    width: 38px;
    height: 38px;
  }

  .page-header svg:first-child {
    display: none;
  }
}
