.page-header {
  background-color: #1b2d37;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 33px;
  position: relative;
}

.webp .page-header {
  background-image: url("../img/bg-back-desktop@1x.webp");
}

.no-webp .page-header {
  background-image: url("../img/bg-back-desktop@1x.png");
}

.no-js .page-header {
  background-image: url("../img/bg-back-desktop@1x.png");
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .webp .page-header {
    background-image: url("../img/bg-back-desktop@2x.webp");
  }

  .no-webp .page-header {
    background-image: url("../img/bg-back-desktop@2x.png");
  }

  .no-js .page-header {
    background-image: url("../img/bg-back-desktop@2x.png");
  }
}

.page-header__scroll {
  @include set-PT-Mono();
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 126px;
  left: -10px;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-top: 21px;
  }

  .page-header__scroll {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding-top: 17px;
  }
}
