.products {
  background-color: #1b2d37;
}

.products img {
  background-color: #ffffff;
}

.products h2 {
  @include set-Roboto-Condensed();
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 52px;
}

.products__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 87px;
  padding-bottom: 123px;
}

.products__list {
  @include reset-ul();
  display: flex;
  flex-wrap: wrap;
}


.products__link {
  display: block;
  margin-right: 30px;
  flex: 1 1 300px;
  max-width: 370px;
  position: relative;
  opacity: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 45, 55, 0.7);
  }

  &::after {
    content: attr(data-product);
    position: absolute;
    top: 0;
    left: 0;
    @include set-Roboto-Condensed();
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    opacity: 1;
    padding-top: 50px;
    padding-left: 44px;
    white-space: pre;
  }
}

.products__link:nth-child(3n) {
  margin-right: 0;
}

.products__arrow {
  display: block;
  position: absolute;
  width: 63px;
  height: 63px;
  right: 0;
  bottom: 4px;
  background-color: #00b2ff;
  background-image: url("../img/arrow-right.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.products__link:hover .products__arrow {
  opacity: 0.6;
}

.products__link:hover::before {
  background-color: rgba(27, 45, 55, 0.9);
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .products__list {
    flex-direction: column;
  }

  .products__link {
    width: 100%;
    max-width: none;
    min-height: 256px;
    flex-basis: 256px;
    margin-bottom: 45px;
    overflow: hidden;

    &::after {
      padding-top: 40px;
    }
  }

  .products__link img {
    width: 100%;
  }

  .products h2 {
    font-size: 32px;
    line-height: 140.62%;
    padding-right: 100px;
  }

  .products__container {
    padding-top: 51px;
    padding-bottom: 35px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .products__arrow {
    bottom: 0;
  }
}

@media (max-width: $mobile-width) {
  .products h2 {
    font-size: 28px;
    line-height: 140.62%;
    padding-right: 0;
    padding-left: 10px;
    margin-bottom: 42px;
  }

  .products__container {
    padding-top: 33px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .products__link {
    margin-bottom: 30px;

    &::after {
      padding-top: 19px;
      padding-left: 35px;
    }
  }

  .products__container {
    padding-bottom: 33px;
  }
}
