.social__list {
  @include reset-ul();
  display: flex;
}

.social__item {
  margin-right: 15px;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social__link:focus {
  outline: none;
  opacity: 0.5;
}
